name: G24AI2030 CI Pipeline

on:
  push:

jobs:
  check_working_repo:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Train model
      run: python train.py

    - name: Test model
      run: python test.py
